body {
    background: #9E0505;
    background: radial-gradient(circle, rgba(158, 5, 5, 1) 0%, rgba(0, 0, 0, 1) 86%);
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    height: 50px;
}
header img {
    background-color: transparent;
    margin-top: 7px;
}
ul {
    display: flex;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    transition: color 0.2s;
    font-weight: bold;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.8);

}
.header{
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.8);
    margin: 10px;

}
hr{
    opacity: 0.1;
    
}
a:hover {
    color: #ff4d4d;
}
.TV_shows_inf{
    display: flex;
    justify-content: space-between;
}
.TV_shows_main{
    width: 430px;
    height: 450px;
    border-radius: 20px;
    margin: 30px;
    margin-top: -5px;
    
}
.main_row{
    width: 58%;
    height: 450px;
    border-radius: 20px;
    margin: 30px;
    margin-top: -5px;
    display: flex;
    flex-wrap: wrap;
}
.TV_shows_all{
    display: flex;
    justify-content: space-between;
}
.TV_shows_img{
    width: 210px;
    height: 300px;
    border-radius: 20px;
    margin: 10px;
    border: 2px solid #ff330077;
    background-size: cover;    
    background-position: center;
    background-repeat: no-repeat; 
}

.TV_shows_detail{
    width: 210px;
    height: 300px;
    border-radius: 20px;
    margin: 10px;
    background-color: #000000;
    border: 2px solid #ff330077;
}
.TV_shows_story{
    width: 100%;
    height: 120px;
    border-radius: 20px;
    margin-top: 10px;
    border: 2px solid #ff330077;
    text-align: center;
    background-color: #000000;
}
.info-container {
    width: 88%;
    margin: 0px 9px;
}
.info-item {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #ff33004a;
}
.info-item-last {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    
}
.label {
    font-size: 12px;
    font-weight: bold;
    color: #F42C1D;
}
.value {
    font-size: 10px;
    color: #ffffff;
    text-align: right;
}
.story-title {
    font-size: 23px;
    font-weight: bold;
    margin: 5px;
    color: #ff0000;
}
.story-btn {
    padding: 0px 25px;
    font-size: 10px;
    cursor: pointer;
    color: #ffffff;
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 16px;
}
.title_name{
    text-align: center;
    width: 200px;
    height: 33.7px;
    position: relative;
    top: -15px;
    background-color: #ff0000;
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.8);
    font-size: 20px;
    font-weight: bold;
    border-radius:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seasons{
    border-radius: 20px;
    margin: 20px;
    margin-top: -5px;
    background-color: #9e05057e;
    height: 350px;
}
.season{
    width: 150px;
    height: 25px;
    background-color: #ff0000;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
@media(max-width: 614px) and (min-width: 360px){
    

    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 90px;
        
    }
    header img {
        background-color: transparent;
        margin: -10px;
    }
    .header {
        font-size: 10px;
    }
    .TV_shows_inf{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .TV_shows_main{
        width: 100%;
        height: 420px;
        border-radius: 20px;
        margin: 0px;
    }
    .main_row{
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    
    
    }
    .TV_shows_all{
        display: flex;
        justify-content: space-evenly;
    }
    .TV_shows_img{
        width: 150px;
        min-width: 150px;
        height: 250px;
        border-radius: 20px;
        margin: 10px;
        border: 2px solid #ff330077;
        background-size: cover;    
        background-position: center;
        background-repeat: no-repeat; 
        display: flex;
        justify-content: center;
    }

    .TV_shows_detail{
        width: 220px;
        min-width: 155px;
        height: 250px;
    }
    .TV_shows_story{
        width: 100%;
        height: 125px;
        border-radius: 20px;
        box-sizing: border-box;
        margin-top: 10px;
        border: 2px solid #ff330077;
        text-align: center;
        background-color: #000000;

    }
    .info-item {
        display: flex;
        justify-content: space-between;
        padding: 2px;
        border-bottom: 1px solid #ff33004a;
    }
    .info-item-last {
        display: flex;
        justify-content: space-between;
        padding: 2px;
        
    }
    .label {
        font-size: 11px;
        font-weight: bold;
        color: #F42C1D;
    }
    .value {
        font-size: 10px;
        color: #ffffff;
        text-align: right;
    }
    .story-title {
        font-size: 18px;
        font-weight: bold;
        margin: px;
        color: #ff0000;
    }
    .story-btn {
        padding: 0px 10px;
        font-size: 10px;
        cursor: pointer;
        color: #ffffff;
    }
    
    .TRAILER{
        height:200px;
        width: 350px;
    }
    .seasons{
    width: 100%;
    max-width: 400px;
    height: 150px;
    margin-top: 25px;
    background-color: #9e05057e;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    bottom: 230px;
    margin: 50px auto auto;

    }
    .season{
        width: 100px;
        height: 25px;
        background-color: #ff0000;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }
}
@media (max-width: 984px) and (min-width:615px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 90px;
    }
    header img {
        background-color: transparent;
        margin: -15px;
    }
    .TV_shows_inf{
        flex-wrap: wrap;
    }
    .main_row{
        order: 3;
        width: 100%;
    }
    .main_TRAILER{
        margin: auto;
        margin-top: 10px;
    }
    .TV_shows_main{
        width: 60%;
        min-width: 410px;
        margin: 30px 10px;
    }
    .TV_shows_detail{
        width: 60%;
    }
    .seasons{
        margin: 15px auto;
    }
}
@media (max-width: 1223px) and (min-width:985px) {
    .TV_shows_inf{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
    .main_TRAILER{
        margin:15px 50px 5px 0px;
        margin-top: 15px;
        grid-row: 1;
        grid-column: 2;
        height: 300px;
        
    }
    
    .TV_shows_main{
        margin: 30px auto;
        grid-row: 1 / 3; /* يمتد على صفين */
        grid-column: 1;
    }
    .main_row{
        margin: 10px 0px;
        height: 250px;
        width: 100%;
    }
    .seasons{
    grid-row: 2;
    grid-column: 2;
    width: 100%;
    max-width: 530px;
    height: 100px;
    margin-top: 25px;
    background-color: #9e05057e;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    align-items: center;

    }
    .season{
        width: 95px;
        height: 25px;
        background-color: #ff0000;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }
}
#TWD_img {
  background-image: url("../../img/TV SHOWS/THE\ WALKING\ DEAD.jpg");
}

