@keyframes watch-btn{
    0%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}
body {
    background: #9E0505;
    background: radial-gradient(circle, rgba(158, 5, 5, 1) 0%, rgba(0, 0, 0, 1) 86%);
    margin: 0;
    font-family: Arial, sans-serif;

}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    height: 50px;
}
header img {
    background-color: transparent;
}
ul {
    display: flex;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #e63946;
    font-size: 18px;
    transition: color 0.2s;
}
.header{
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.8);
    margin: 10px;

}
a:hover {
    color: #ff4d4d;
}
hr{
    opacity: 0.1;    
}
.movie_inf{
    display: flex;
    justify-content: space-between;
}
.movie_main{
    width: 430px;
    height: 450px;
    border-radius: 20px;
    margin: 30px;
    margin-top: -5px;
    
}
.characters_row{
    width: 58%;
    border-radius: 20px;
    margin: 10px;
    margin-top: -5px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.movie_all{
    display: flex;
    justify-content: space-between;
}
.movie_img{
    width: 210px;
    height: 300px;
    border-radius: 20px;
    margin: 10px;
    border: 2px solid #ff330077;
    background-size: cover;    
    background-position: center;
    background-repeat: no-repeat; 
}

.movie_detail{
    width: 210px;
    height: 300px;
    border-radius: 20px;
    margin: 10px;
    background-color: #000000;
    border: 2px solid #ff330077;
}
.movie_story{
    width: 100%;
    height: 120px;
    border-radius: 20px;
    margin-top: 10px;
    border: 2px solid #ff330077;
    text-align: center;
    background-color: #000000;
}
.info-container {
    width: 88%;
    margin: 0px 9px;
}
.info-item {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #ff33004a;
}
.info-item-last {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    
}
.label {
    font-size: 12px;
    font-weight: bold;
    color: #F42C1D;
}
.value {
    font-size: 10px;
    color: #ffffff;
    text-align: right;
}
.story-title {
    font-size: 23px;
    font-weight: bold;
    margin: 5px;
    color: #ff0000;
}
.story-btn {
    padding: 0px 25px;
    font-size: 10px;
    cursor: pointer;
    color: #ffffff;
}
.character {
    width: 130px;
    height: 130px;
    text-align: center;
    padding: 5px;
}
.character img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #ff330077;
}
.character_a_lot{
    width: 105px;
    height: 105px;
    text-align: center;
    padding: 5px;
}
.character_a_lot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #ff330077;
}

.title{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 16px;
}
.title_name{
    text-align: center;
    width: 200px;
    height: 33.7px;
    position: relative;
    top: -15px;
    background-color: #ff0000;
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.8);
    font-size: 20px;
    font-weight: bold;
    border-radius:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.watch {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><polygon points="40,30 40,70 75,50" fill="white"/></svg>');
    width: 40px;
    height: 40px;
    background-color: #ff0000;
    transform: translate(175%, 700%);
    border-radius: 25px;
    opacity: 0;
    transition: 0.3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name:watch-btn;
    animation-duration: 3s;
    animation-iteration-count: 1;
    }
.watch-btn {
    height: 40px;
    width: 40px;
    opacity: 0;
}

.movie_img:hover .watch {
    transform: translate(175%, 700%);
    opacity: 1;
}
@media(max-width: 500px) and (min-width: 360px){
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 90px;
    }
    header img {
        background-color: transparent;
        margin: -10px;
    }
    a {
        text-decoration: none;
        color: #e63946;
        font-size: 10px;
    }
    .movie_inf{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .movie_main{
        width: 100%;
        height: 420px;
        border-radius: 20px;
        margin: 0px;
    }
    .characters_row{
        width: 100%;
        margin: auto;
        margin-bottom: 20px;

    }
    .movie_all{
        display: flex;
        justify-content: space-evenly;
    }
    .movie_img{
        width: 150px;
        min-width: 150px;
        height: 250px;
        border-radius: 20px;
        margin: 10px;
        border: 2px solid #ff330077;
        background-size: cover;    
        background-position: center;
        background-repeat: no-repeat; 
        display: flex;
        justify-content: center;
    }
    .movie_detail{
        width:50% ;
        min-width: 160px;
        height: 250px;
        margin-left: 2px;;
    }
    .movie_story{
        width: 100%;
        height: 125px;
        border-radius: 20px;
        margin-top: 10px;
        border: 2px solid #ff330077;
        text-align: center;
        background-color: #000000;
        box-sizing: border-box;
    }
    .info-item {
        display: flex;
        justify-content: space-between;
        padding: 2px;
        border-bottom: 1px solid #ff33004a;
    }
    .info-item-last {
        display: flex;
        justify-content: space-between;
        padding: 2px;
    }
    .label {
        font-size: 11px;
        font-weight: bold;
        color: #F42C1D;
    }
    .value {
        font-size: 10px;
        color: #ffffff;
        text-align: right;
    }
    .story-title {
        font-size: 18px;
        font-weight: bold;
        margin: px;
        color: #ff0000;
    }
    .story-btn {
        padding: 0px 10px;
        font-size: 10px;
        cursor: pointer;
        color: #ffffff;
    }
    .character {
        width: 80px;
        height:80px;
        text-align: center;
    }
    .character img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 10px;
        border: 2px solid #ff330077;
    }
    .watch{
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><polygon points="40,30 40,70 75,50" fill="white"/></svg>');
        width: 40px;
        height: 40px;
        background-color: #ff0000;
        transform: translate(0%, 575%);
        border-radius: 25px;
        opacity:0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .watch-btn{
        height: 40px;
        width: 40px;
        opacity:0;
    }
    .movie_img:hover .watch {
    transform: translate(0%, 575%);
    opacity: 1;
    }
}
@media (max-width: 680px) and (min-width:501px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 90px;
    }
    header img {
    background-color: transparent;
    margin: -15px;
    }
    .movie_inf{
        flex-direction: column;
        margin: auto;
    }
    .movie_main{
    
    margin-top: -5px;
    margin: auto;

    }
    .characters_row{
        margin: auto;
        align-content: flex-start;
        margin-top: 30px;
        width: 90%;
        margin-bottom: 20px;
    }
    .character {
    width: 90px;
    height: 90px;
    text-align: center;
    padding: 5px;
    }
    
    .character_a_lot{
        width: 65px;
        height: 65px;
        text-align: center;
        padding: 4px;
    }
}
@media (max-width: 984px) and (min-width:681px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 90px;
    }
    header img {
    background-color: transparent;
    margin: -15px;
    }
    .movie_main{
    margin: 5px;
    margin-top: -5px;

    }
    .characters_row{
        margin: 5px;
        margin-top: -5px;
        align-content: flex-start;
    }
    .character {
    width: 90px;
    height: 90px;
    text-align: center;
    padding: 5px;
    }
    
    .character_a_lot{
        width: 65px;
        height: 65px;
        text-align: center;
        padding: 4px;
    }
}
              /* tv shows POSTER css */ 
#SE7EN{
    background-image: url("../img/MOVIE/SE7EN.jpg");
}
#ENDGAME{
    background-image: url("../img/MOVIE/AVENGERS\ ENDGAME.jpg");
}
#DEADPOOL_WOLVERINE{
    background-image: url("../img/MOVIE/DEADPOOL\ &\ WOLVERINE.jpg");
}
#INTERSTELLAR{
    background-image: url("../img/MOVIE/Interstellar.jpg");
}
#MAN_OF_STEEL{
    background-image: url("../img/MOVIE/MAN\ OF\ STEEL.jpg");
}
#PRISONERS{
    background-image: url("../img/MOVIE/PRISONERS.jpg");
}
#SHUTTER_ISLAND{
    background-image: url("../img/MOVIE/SHUTTER\ ISLAND.jpg");
}
#THE_MAZE_RUNNER{
    background-image: url("../img/MOVIE/THE\ MAZE\ RUNNER.jpg");
}




